/* HM3
 */
.containter{
}

.container__circle-one:hover{
    background-color: rgb(16, 162, 230);
    z-index: 10;
}

.container__circle-two:hover{
    background-color: rgb(199, 17, 175);
    z-index: 10;
}

.container__circle-three:hover{
    background-color: rgb(41, 179, 13);
    z-index: 10;
}

.container__circle-four:hover{
    background-color: rgb(9, 134, 124);
    z-index: 10;
}

.container__square-big:hover{
    background-color: rgb(221, 125, 15);
    z-index: 15;
}

.container__square-big{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 5;
}

.container__square-small{
    height: 50px;
    width: 50px;
    background-color: rgb(179, 255, 0);
    position: absolute;
    transform: translate(+50%, +50%);
    top: 200px;
    left: 500px;
    z-index: 10;
}

.container__circle-one{
    position: absolute;
    top: 150px;
    left: 450px;
    transform: translate(+50%, +50%);
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
}

.container__circle-two{
    position: absolute;
    top: 150px;
    left: 550px;
    transform: translate(+50%, +50%);
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
}

.container__circle-three{
    position: absolute;
    top: 250px;
    left: 550px;
    transform: translate(+50%, +50%);
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
}

.container__circle-four{
    position: absolute;
    top: 250px;
    left: 450px;
    transform: translate(+50%, +50%);
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 100%;
}
